In [1]:
# packages
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('nba_player_dataset.csv')
df.describe()

,PLAYER_ID,LEAGUE_ID,TEAM_ID,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,TRADE_SEASON
count,2.847500e+04,28475.0,2.847500e+04,28475.000000,28475.000000,21993.000000,27706.000000,28475.000000,28475.000000,28461.000000,...,24312.000000,24312.000000,27818.000000,28475.000000,24312.000000,24312.000000,23160.000000,28475.000000,28475.000000,28475.000000
mean,1.910828e+05,0.0,1.473619e+09,27.045724,49.365654,22.917428,1163.322710,188.724109,417.496822,0.427675,...,58.590655,144.323626,216.124955,110.821387,38.235480,23.512298,70.282988,110.944021,494.931835,0.175944
std,4.201317e+05,0.0,4.493150e+08,4.170652,26.503202,28.152090,929.837939,184.376258,390.551268,0.104665,...,65.387191,143.939275,223.114425,132.956215,37.572835,35.407875,66.358784,83.244617,484.922546,0.380779
min,2.000000e+00,0.0,0.000000e+00,15.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.737000e+03,0.0,1.610613e+09,24.000000,26.000000,0.000000,305.000000,38.000000,93.000000,0.389000,...,11.000000,32.000000,47.000000,18.000000,8.000000,3.000000,16.000000,35.000000,100.000000,0.000000
50%,7.696000e+04,0.0,1.610613e+09,26.000000,55.000000,8.000000,995.000000,134.000000,306.000000,0.438000,...,35.000000,104.000000,152.000000,64.000000,28.000000,11.000000,51.000000,101.000000,349.000000,0.000000
75%,1.012535e+05,0.0,1.610613e+09,30.000000,74.000000,43.000000,1898.000000,287.000000,640.000000,0.480000,...,84.000000,209.000000,308.000000,154.000000,57.000000,28.000000,107.000000,174.000000,755.500000,0.000000
max,1.630698e+06,0.0,1.610613e+09,94.000000,88.000000,83.000000,3882.000000,1597.000000,3159.000000,1.000000,...,587.000000,1111.000000,2149.000000,1164.000000,301.000000,456.000000,464.000000,386.000000,4029.000000,1.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28475 entries, 0 to 28474
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          28475 non-null  int64
 1   SEASON_ID          28475 non-null  object
 2   LEAGUE_ID          28475 non-null  int64
 3   TEAM_ID            28475 non-null  int64
 4   TEAM_ABBREVIATION  28466 non-null  object
 5   PLAYER_AGE         28475 non-null  int64
 6   GP                 28475 non-null  int64
 7   GS                 21993 non-null  float64
 8   MIN                27706 non-null  float64
 9   FGM                28475 non-null  int64
 10  FGA                28475 non-null  int64
 11  FG_PCT             28461 non-null  float64
 12  FG3M               22442 non-null  float64
 13  FG3A               22442 non-null  float64
 14  FG3_PCT            22220 non-null  float64
 15  FTM                28475 non-null  int64
 16  FTA                28475 non-null  int64
 17  FT_PCT             28356 non-null  float64
 18  OREB               24312 non-null  float64
 19  DREB               24312 non-null  float64
 20  REB                27818 non-null  float64
 21  AST                28475 non-null  int64
 22  STL                24312 non-null  float64
 23  BLK                24312 non-null  float64
 24  TOV                23160 non-null  float64
 25  PF                 28475 non-null  int64
 26  PTS                28475 non-null  int64
 27  TRADE_SEASON       28475 non-null  int64
dtypes: float64(13), int64(13), object(2)
memory usage: 6.1+ MB

In [4]:
from nba_api.stats.static import players
import csv
player_list = players.get_players()
keys = player_list[0].keys()
with open("player_list.csv", 'w', newline='') as file:
    csvwriter = csv.DictWriter(file, keys)
    csvwriter.writeheader()
    csvwriter.writerows(player_list)

In [5]:
# Add a year column to coincide with the all star season year
def all_star_year_apply(string):
    if string[0:4] == '1999':
        return 2000
    else:
        return int(string[0:3]+string[-1])

df['ALL_STAR_SEASON_YEAR'] = df['SEASON_ID'].apply(all_star_year_apply)
# df['ALL_STAR_YEAR']

In [6]:
# add player_list columns to the nba_player_dataset

player_list_df = pd.read_csv('player_list.csv')

df = pd.merge(df, player_list_df,how='left', left_on='PLAYER_ID', right_on='id')
df.head(15)

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,TOV,PF,PTS,TRADE_SEASON,ALL_STAR_SEASON_YEAR,id,full_name,first_name,last_name,is_active
0,76001,1990-91,0,1610612757,POR,23,43,0.0,290.0,55,...,22.0,39,135,0,1991,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
1,76001,1991-92,0,1610612757,POR,24,71,1.0,934.0,178,...,66.0,132,432,0,1992,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
2,76001,1992-93,0,1610612749,MIL,25,12,0.0,159.0,26,...,13.0,24,64,1,1993,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
3,76001,1992-93,0,1610612738,BOS,25,63,52.0,1152.0,219,...,84.0,165,514,1,1993,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
4,76001,1992-93,0,0,TOT,25,75,52.0,1311.0,245,...,97.0,189,578,0,1993,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
5,76001,1993-94,0,1610612738,BOS,26,13,0.0,159.0,24,...,17.0,20,64,0,1994,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
6,76001,1994-95,0,1610612758,SAC,27,51,0.0,476.0,117,...,40.0,102,254,1,1995,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
7,76001,1994-95,0,1610612755,PHL,27,3,0.0,30.0,1,...,5.0,2,2,1,1995,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
8,76001,1994-95,0,0,TOT,27,54,0.0,506.0,118,...,45.0,104,256,0,1995,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False
9,76002,1968-69,0,1610612749,MIL,23,29,NaN,837.0,126,...,NaN,98,320,1,1969,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False
10,76002,1968-69,0,1610612758,CIN,23,20,NaN,108.0,18,...,NaN,17,38,1,1969,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False
11,76002,1968-69,0,0,TOT,23,49,NaN,945.0,144,...,NaN,115,358,0,1969,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False
12,76002,1969-70,0,1610612749,MIL,24,80,NaN,1637.0,237,...,NaN,167,593,0,1960,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False
13,76002,1970-71,0,1610612760,SEA,25,61,NaN,1276.0,263,...,NaN,118,665,0,1971,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False
14,76002,1971-72,0,1610612760,SEA,26,58,NaN,1780.0,322,...,NaN,178,798,0,1972,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False

In [7]:
nba_all_star_df = pd.read_csv('nba_all_star_selections.csv')

df = pd.merge(df, nba_all_star_df, how='left', left_on=['ALL_STAR_SEASON_YEAR', 'full_name'], right_on=['ALL_STAR_GAME_YEAR', 'PLAYER'])
df.head(15)

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,id,full_name,first_name,last_name,is_active,ALL_STAR_GAME_YEAR,PLAYER,TEAM,FIRST_NAME,LAST_NAME
0,76001,1990-91,0,1610612757,POR,23,43,0.0,290.0,55,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
1,76001,1991-92,0,1610612757,POR,24,71,1.0,934.0,178,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
2,76001,1992-93,0,1610612749,MIL,25,12,0.0,159.0,26,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
3,76001,1992-93,0,1610612738,BOS,25,63,52.0,1152.0,219,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
4,76001,1992-93,0,0,TOT,25,75,52.0,1311.0,245,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
5,76001,1993-94,0,1610612738,BOS,26,13,0.0,159.0,24,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
6,76001,1994-95,0,1610612758,SAC,27,51,0.0,476.0,117,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
7,76001,1994-95,0,1610612755,PHL,27,3,0.0,30.0,1,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
8,76001,1994-95,0,0,TOT,27,54,0.0,506.0,118,...,76001,Alaa Abdelnaby,Alaa,Abdelnaby,False,NaN,NaN,NaN,NaN,NaN
9,76002,1968-69,0,1610612749,MIL,23,29,NaN,837.0,126,...,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,NaN,NaN,NaN,NaN,NaN
10,76002,1968-69,0,1610612758,CIN,23,20,NaN,108.0,18,...,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,NaN,NaN,NaN,NaN,NaN
11,76002,1968-69,0,0,TOT,23,49,NaN,945.0,144,...,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,NaN,NaN,NaN,NaN,NaN
12,76002,1969-70,0,1610612749,MIL,24,80,NaN,1637.0,237,...,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,NaN,NaN,NaN,NaN,NaN
13,76002,1970-71,0,1610612760,SEA,25,61,NaN,1276.0,263,...,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,NaN,NaN,NaN,NaN,NaN
14,76002,1971-72,0,1610612760,SEA,26,58,NaN,1780.0,322,...,76002,Zaid Abdul-Aziz,Zaid,Abdul-Aziz,False,NaN,NaN,NaN,NaN,NaN

In [8]:
# filter df to contain only 2000 - 2019 all star seasons.
print(df.shape)
df = df[(df['ALL_STAR_SEASON_YEAR']>= 2000) & (df['ALL_STAR_SEASON_YEAR'] <= 2019)]
df.shape
# df.head(150)

(28475, 39)

(12227, 39)

In [9]:
# Getting a sample set to see what columns can be dropped from the data frame
df.sample(200)

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,id,full_name,first_name,last_name,is_active,ALL_STAR_GAME_YEAR,PLAYER,TEAM,FIRST_NAME,LAST_NAME
22134,1626179,2017-18,0,1610612738,BOS,24,80,16.0,2068.0,316,...,1626179,Terry Rozier,Terry,Rozier,True,NaN,NaN,NaN,NaN,NaN
17128,2098,2006-07,0,1610612737,ATL,28,14,0.0,81.0,12,...,2098,Slava Medvedenko,Slava,Medvedenko,False,NaN,NaN,NaN,NaN,NaN
4201,2679,2006-07,0,1610612766,CHA,26,72,47.0,1878.0,285,...,2679,Matt Carroll,Matt,Carroll,False,NaN,NaN,NaN,NaN,NaN
11525,200797,2015-16,0,1610612764,WAS,31,5,3.0,48.0,4,...,200797,Ryan Hollins,Ryan,Hollins,False,NaN,NaN,NaN,NaN,NaN
25631,2137,2007-08,0,1610612759,SAS,30,73,0.0,1316.0,159,...,2137,Ime Udoka,Ime,Udoka,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26366,2575,2004-05,0,1610612747,LAL,25,61,5.0,768.0,74,...,2575,Luke Walton,Luke,Walton,False,NaN,NaN,NaN,NaN,NaN
20847,1893,1999-00,0,1610612761,TOR,23,3,0.0,24.0,2,...,1893,Aleksandar Radojevic,Aleksandar,Radojevic,False,NaN,NaN,NaN,NaN,NaN
27138,2404,2008-09,0,0,TOT,26,62,6.0,1050.0,184,...,2404,Chris Wilcox,Chris,Wilcox,False,NaN,NaN,NaN,NaN,NaN
5009,200776,2008-09,0,1610612752,NYK,24,9,0.0,75.0,8,...,200776,Mardy Collins,Mardy,Collins,False,NaN,NaN,NaN,NaN,NaN
1808,201958,2010-11,0,1610612742,DAL,23,28,26.0,496.0,94,...,201958,Rodrigue Beaubois,Rodrigue,Beaubois,False,NaN,NaN,NaN,NaN,NaN

In [10]:
# Will drop a few columns to help clean up the dataframe

columns_to_drop = ['LEAGUE_ID', 'id', 'PLAYER', 'TEAM', 'FIRST_NAME', 'LAST_NAME']

df = df.drop(columns=columns_to_drop)
df.sample(200)

,PLAYER_ID,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,...,TOV,PF,PTS,TRADE_SEASON,ALL_STAR_SEASON_YEAR,full_name,first_name,last_name,is_active,ALL_STAR_GAME_YEAR
10746,201150,2016-17,1610612766,CHA,29,35,1.0,626.0,104,218,...,40.0,61,254,1,2017,Spencer Hawes,Spencer,Hawes,False,NaN
18299,203315,2014-15,1610612762,UTA,25,1,0.0,1.0,0,1,...,0.0,0,0,1,2015,Toure' Murry,Toure',Murry,False,NaN
11898,1716,2007-08,1610612741,CHI,29,28,25.0,810.0,125,323,...,44.0,48,336,1,2008,Larry Hughes,Larry,Hughes,False,NaN
6435,2736,2004-05,1610612741,CHI,20,61,45.0,1664.0,280,645,...,118.0,98,711,0,2005,Luol Deng,Luol,Deng,False,NaN
5488,1628249,2018-19,1610612751,BKN,27,4,0.0,36.0,5,10,...,0.0,3,15,1,2019,Mitchell Creek,Mitchell,Creek,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7138,201142,2007-08,1610612760,SEA,19,80,80.0,2768.0,587,1366,...,232.0,122,1624,0,2008,Kevin Durant,Kevin,Durant,True,NaN
14831,201951,2015-16,1610612754,IND,28,13,1.0,235.0,28,67,...,13.0,16,64,1,2016,Ty Lawson,Ty,Lawson,False,NaN
14170,954,2001-02,1610612751,NJN,28,82,82.0,2601.0,438,940,...,109.0,108,1102,0,2002,Kerry Kittles,Kerry,Kittles,False,NaN
24629,2742,2010-11,1610612750,MIN,26,37,8.0,711.0,97,241,...,64.0,64,266,0,2011,Sebastian Telfair,Sebastian,Telfair,False,NaN
17888,1630,2009-10,1610612744,GSW,34,23,20.0,406.0,54,90,...,21.0,60,115,0,2000,Mikki Moore,Mikki,Moore,False,NaN

In [11]:
# Make a flag for a player making the all star game (if 'ALL_STAR_GAME_YEAR' is not null, flag as 1)
import numpy as np
df['ALL_STAR_SELECTION_FLAG'] = np.where(df['ALL_STAR_GAME_YEAR'].isnull(), 0,1)
df.sample(200)

,PLAYER_ID,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,...,PF,PTS,TRADE_SEASON,ALL_STAR_SEASON_YEAR,full_name,first_name,last_name,is_active,ALL_STAR_GAME_YEAR,ALL_STAR_SELECTION_FLAG
1331,200826,2012-13,1610612750,MIN,29,74,2.0,1713.0,316,758,...,131,834,0,2013,J.J. Barea,J.J.,Barea,False,NaN,0
25647,2757,2013-14,1610612763,MEM,31,10,0.0,55.0,10,18,...,4,27,1,2014,Beno Udrih,Beno,Udrih,False,NaN,0
1601,1766,2006-07,1610612754,IND,31,47,2.0,405.0,49,76,...,65,138,0,2007,Maceo Baston,Maceo,Baston,False,NaN,0
7088,2399,2011-12,1610612749,MIL,31,55,3.0,1445.0,239,504,...,87,677,0,2012,Mike Dunleavy,Mike,Dunleavy,False,NaN,0
9504,270,2003-04,1610612747,LAL,38,55,10.0,1110.0,92,224,...,70,223,0,2004,Horace Grant,Horace,Grant,False,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,202337,2017-18,1610612748,MIA,29,13,5.0,145.0,11,47,...,7,33,1,2018,Luke Babbitt,Luke,Babbitt,False,NaN,0
11295,255,2004-05,1610612753,ORL,32,67,67.0,2338.0,517,1015,...,144,1317,0,2005,Grant Hill,Grant,Hill,False,2005.0,1
754,21,2001-02,1610612749,MIL,34,24,3.0,553.0,70,188,...,42,172,1,2002,Greg Anthony,Greg,Anthony,False,NaN,0
6502,2564,2005-06,1610612756,PHX,24,81,70.0,2874.0,449,853,...,260,1080,0,2006,Boris Diaw,Boris,Diaw,False,NaN,0
26232,955,2005-06,1610612754,IND,30,7,0.0,22.0,0,2,...,7,2,0,2006,Samaki Walker,Samaki,Walker,False,NaN,0

In [12]:
# filter the dataset to only contain players with at least 3 years of stats.

values = df['PLAYER_ID'].value_counts()
values

1737       27
1713       25
1889       25
2772       24
201147     23
           ..
1628070     1
1627815     1
101178      1
202731      1
201619      1
Name: PLAYER_ID, Length: 2040, dtype: int64

In [13]:
'''
because of doing the value count, it has been noticed that players do not play for 27 years.  The reason for 1737 having 27 values is the dataset
contains full season stats for players who were traded mid-season (and the individual stats for the different teams that player played on).  These
individual stats need to be removed.
'''
df = df[df['TRADE_SEASON']==0]
df.shape

(9842, 34)

In [16]:
df = df.groupby('PLAYER_ID').filter(lambda x: len(x) > 2)
df.shape

(8699, 34)

1713       21
2037       20
1717       20
1891       19
2199       19
           ..
1627743     3
1114        3
202698      3
1628367     3
203950      3
Name: PLAYER_ID, Length: 1225, dtype: int64